<?xml version="1.0"?>
<config>
    <modules>
        <Training_Album>
            <version>0.1.0</version>
        </Training_Album>
    </modules>
    <frontend>
        <routers>
            <album>
                <use>standard</use>
                <args>
                    <module>Training_Album</module>
                    <frontName>album</frontName>
                </args>
            </album>
        </routers>
        <layout>
            <updates>
                <album>
                    <file>album.xml</file>
                </album>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <album>
                <use>admin</use>
                <args>
                    <module>Training_Album</module>
                    <frontName>album</frontName>
                </args>
            </album>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <album module="album">
                <title>Album Manager</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="album">
                        <title>Manage album</title>
                        <sort_order>0</sort_order>
                        <action>album/adminhtml_album</action>
                    </items>
                </children>
                <children>
                    <images module="album">
                        <title>Manage images</title>
                        <sort_order>1</sort_order>
                        <action>album/adminhtml_images</action>
                    </images>
                </children>
            </album>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Training_Album>
                            <title>Sinhvien Module</title>
                            <sort_order>10</sort_order>
                        </Training_Album>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <album>
                    <file>album.xml</file>
                </album>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <album>
                <class>Training_Album_Model</class>
                <resourceModel>album_resource</resourceModel>
            </album>
            <album_resource>
                <class>Training_Album_Model_Resource</class>
                <entities>
                    <album>
                        <table>tbl_album</table>
                    </album>
                </entities>
                <entities>
                    <images>
                        <table>tbl_images</table>
                    </images>
                </entities>
            </album_resource>
        </models>
        <blocks>
            <album>
                <class>Training_Album_Block</class>
            </album>
        </blocks>
        <helpers>
            <album>
                <class>Training_Album_Helper</class>
            </album>
        </helpers>
        <resources>
            <album_setup>
                <setup>
                    <module>Training_Album</module>
                </setup>
            </album_setup>
        </resources>
    </global>
</config>